[commit]
    template = ~/.commitmessage
[core]
    editor = hx
    pager = delta
[user]
	email = dkharmsd@gmail.com
	name = Daniil Porokhnin

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
